.menuContainer {
  background-color: var(--pink-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 10rem;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.5rem;
}

/*Responsividade:*/

@media (max-width: 820px) {
  .menuContainer{
    gap: 5rem;
  }
}

@media (max-width: 600px) {
  .menuContainer{
    flex-direction: column;
    gap: .5rem;
  }
}